In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("https://storage.googleapis.com/datamexico-data/geo/AGEEML_2019517152111.csv", low_memory=False, chunksize=10**4)
df = pd.concat(df)

In [18]:
df.columns = df.columns.str.lower()

In [19]:
df.head()

,mapa,cve_ent,nom_ent,nom_abr,cve_mun,nom_mun,cve_loc,nom_loc,ámbito,latitud,longitud,lat_decimal,lon_decimal,altitud,cve_carta,pob_total,pob_masculina,pob_femenina,total de viviendas habitadas
0,10010001,1,Aguascalientes,Ags.,1,Aguascalientes,1,Aguascalientes,U,"21°52´47.362N""","102°17´45.768W""",21.879823,-102.296047,1878,F13D19,722250,348722,373528,185120
1,10010094,1,Aguascalientes,Ags.,1,Aguascalientes,94,Granja Adelita,R,"21°52´18.749N""","102°22´24.710W""",21.871875,-102.373531,1902,F13D18,14,0,0,2
2,10010096,1,Aguascalientes,Ags.,1,Aguascalientes,96,Agua Azul,R,"21°53´01.522N""","102°21´25.639W""",21.883756,-102.357122,1861,F13D18,37,21,16,11
3,10010100,1,Aguascalientes,Ags.,1,Aguascalientes,100,Rancho Alegre,R,"21°51´16.556N""","102°22´21.884W""",21.854599,-102.372746,1879,F13D18,10,0,0,1
4,10010102,1,Aguascalientes,Ags.,1,Aguascalientes,102,Los Arbolitos [Rancho],R,"21°46´48.650N""","102°21´26.261W""",21.780181,-102.357295,1861,F13D18,7,0,0,1

In [29]:
len(df.cve_loc.unique())

5319

In [30]:
df["temp_cve_ent"] = df["cve_ent"].astype(str).str.zfill(2)
df["temp_cve_mun"] = df["cve_mun"].astype(str).str.zfill(3)
df["temp_cve_loc"] = df["cve_loc"].astype(str).str.zfill(4)

In [31]:
df["temp_cve_mun_full"] = df["temp_cve_ent"] + df["temp_cve_mun"]
df["temp_cve_loc_full"] = df["temp_cve_ent"] + df["temp_cve_mun"] + df["temp_cve_loc"]

In [34]:
# create location schema
df = df[[
    "temp_cve_ent", "temp_cve_mun", "temp_cve_loc", "temp_cve_mun_full", "temp_cve_loc_full",
    "nom_ent", "nom_mun", "nom_loc", "ámbito", "lat_decimal", "lon_decimal", "altitud"
]]

In [38]:
df = df.rename(columns={
    "temp_cve_ent": "cve_ent",
    "temp_cve_mun": "cve_mun",
    "temp_cve_loc": "cve_loc",
    "temp_cve_mun_full": "cve_mun_full",
    "temp_cve_loc_full": "cve_loc_full",
    "nom_ent": "name_ent",
    "nom_mun": "name_mun",
    "nom_loc": "name_loc",
    "ámbito": "zone",
    "lat_decimal": "latitude",
    "lon_decimal": "longitude",
    "altitud": "altitude"
})

In [39]:
df.head()

,cve_ent,cve_mun,cve_loc,cve_mun_full,cve_loc_full,name_ent,name_mun,name_loc,zone,latitude,longitude,altitude
0,01,001,0001,01001,010010001,Aguascalientes,Aguascalientes,Aguascalientes,U,21.879823,-102.296047,1878
1,01,001,0094,01001,010010094,Aguascalientes,Aguascalientes,Granja Adelita,R,21.871875,-102.373531,1902
2,01,001,0096,01001,010010096,Aguascalientes,Aguascalientes,Agua Azul,R,21.883756,-102.357122,1861
3,01,001,0100,01001,010010100,Aguascalientes,Aguascalientes,Rancho Alegre,R,21.854599,-102.372746,1879
4,01,001,0102,01001,010010102,Aguascalientes,Aguascalientes,Los Arbolitos [Rancho],R,21.780181,-102.357295,1861

In [41]:
zones = {"U": 1, "R": 2}

In [40]:
df.zone.unique()

array(['U', 'R'], dtype=object)