In [14]:
import pandas as pd

In [15]:
pd.options.display.max_columns = 200

In [49]:
url_1 = "coe1t118.CSV"
url_2 = "coe2t118.CSV"
url_3 = "VIVT119.CSV"
# url_4 = ""

In [33]:
cols = [["ent", "con", "v_sel", "n_hog", "h_mud", "n_ren", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3", "p4a", "p5b_thrs", "p5b_tdia", "fac"],
        ["ent", "con", "v_sel", "n_hog", "h_mud", "n_ren", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3", "p4a", "p5c_thrs", "p5c_tdia", "fac"]]

In [34]:
def upper_(array):
    return [x.upper() for x in array]
def lower_(array):
    return [x.lower() for x in array]

In [35]:
for op in [upper_, lower_]:
    print(op(["a", "A"]))

['A', 'A']
['a', 'a']

In [36]:
for col in cols:
    print(upper_(col))

['ENT', 'CON', 'V_SEL', 'N_HOG', 'H_MUD', 'N_REN', 'EDA', 'P1B', 'P2_1', 'P2_2', 'P2_3', 'P2_4', 'P2_9', 'P2A_ANIO', 'P2B', 'P3', 'P4A', 'P5B_THRS', 'P5B_TDIA', 'FAC']
['ENT', 'CON', 'V_SEL', 'N_HOG', 'H_MUD', 'N_REN', 'EDA', 'P1B', 'P2_1', 'P2_2', 'P2_3', 'P2_4', 'P2_9', 'P2A_ANIO', 'P2B', 'P3', 'P4A', 'P5C_THRS', 'P5C_TDIA', 'FAC']

In [50]:
for col in cols:
    for op in [upper_, lower_]:
        try:
            dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                           usecols=op(col))
            break
        except:
            continue

In [51]:
dt_22007_2 = pd.read_csv(url_2, index_col=None, header=0, encoding="latin-1", dtype=str, usecols= lambda x: x.lower() in
                         ["ent", "con", "v_sel", "n_hog", "h_mud", "n_ren",  "p6b1", "p6b2", "p6c", "p6d", "p7", "p7a", "p7c", "fac"])

In [52]:
dt_22007.columns = dt_22007.columns.str.lower()

In [53]:
dt_22007_2.columns = dt_22007_2.columns.str.lower()

In [54]:
dt_22007["fac"] = dt_22007["fac"].astype(int)
dt_22007_2["fac"] = dt_22007_2["fac"].astype(int)

In [55]:
dt_22007 = dt_22007.loc[(dt_22007["ent"]) == "01"]

In [56]:
dt_22007["fac"].sum()

1049050

In [57]:
dt_22007_2["fac"].sum()

99459204

In [48]:
dt_22007["fac"].sum()
# 1.184.996 vs 1.066.460 vs 1,347,855

911330

In [43]:
dt_22007_2["fac"].sum()

87997837

In [46]:
dt_22007 = dt_22007.loc[(dt_22007["ent"]) == "01"]

In [47]:
dt_22007

,ent,con,v_sel,n_hog,h_mud,n_ren,eda,p1b,p2_1,p2_2,p2_3,p2_4,p2_9,p2a_anio,p2b,p3,p4a,p5c_thrs,p5c_tdia,fac
75462,01,00001,02,1,0,01,28,,,,,,,NaN,,7111,3110,053,5,102
75463,01,00001,02,1,0,02,22,,,,,,,NaN,,5121,3150,051,6,102
75464,01,00001,03,1,0,01,47,,,,,,,NaN,,7111,5170,040,5,102
75465,01,00001,03,1,0,02,40,2,,,,4,,NaN,,NaN,NaN,NaN,,102
75466,01,00001,03,1,0,03,20,,,,,,,NaN,,5502,3360,048,4,102
75467,01,00001,04,1,0,01,50,,,,,,,NaN,,7100,4651,040,5,102
75468,01,00001,04,1,0,02,28,,,,,,,NaN,,1173,5221,040,4,102
75469,01,00001,04,1,0,03,24,,,,,,,NaN,,7133,5222,032,4,102
75470,01,00001,05,1,0,01,30,,,,,,,NaN,,6121,9314,032,4,102
75471,01,00001,05,1,0,02,29,1,,,,,,NaN,,7133,5240,NaN,,102
75472,01,00002,01,1,0,01,45,,,,,,,NaN,,7100,4611,060,6,181
75473,01,00002,01,1,0,02,44,2,,,,4,,NaN,,NaN,NaN,NaN,,181
75474,01,00002,01,1,0,03,20,2,,,,4,,NaN,,NaN,NaN,NaN,,181
75475,01,00002,01,1,0,04,17,2,,,,4,,NaN,,NaN,NaN,NaN,,181
75476,01,00002,02,1,0,01,29,,,,,,,NaN,,2121,3110,032,4,181
75477,01,00002,02,1,0,02,29,2,,,,4,,NaN,,NaN,NaN,NaN,,181
75478,01,00002,03,1,0,01,68,2,,,,4,,NaN,,NaN,NaN,NaN,,181
75479,01,00002,03,1,0,02,63,2,,,,4,,NaN,,NaN,NaN,NaN,,181
75480,01,00002,03,1,0,03,30,,,,,,,NaN,,2122,5411,032,4,181
75481,01,00002,04,1,0,01,52,,,,,,,NaN,,1172,5411,032,4,181
75482,01,00003,02,1,0,01,37,,,,,,,NaN,,5322,3150,032,4,132
75483,01,00003,02,1,0,02,18,2,,2,,,,2009,1,NaN,NaN,NaN,,132
75484,01,00003,02,1,0,03,16,2,,,,4,,NaN,,NaN,NaN,NaN,,132
75485,01,00003,03,1,0,01,41,,,,,,,NaN,,8101,5611,008,2,132
75486,01,00003,03,1,0,02,31,,,,,,,NaN,,1160,9314,040,5,132
75487,01,00003,04,1,0,02,50,,,,,,,NaN,,6221,6222,032,4,132
75488,01,00003,04,1,0,03,16,2,,,,4,,NaN,,NaN,NaN,NaN,,132
75489,01,00003,04,1,0,06,47,,,,,,,NaN,,5370,3110,040,5,132
75490,01,00003,05,1,0,01,38,,,,,,,NaN,,6251,5411,032,4,132
75491,01,00003,05,1,0,02,18,,,,,,,NaN,,6251,5411,032,4,132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261221,01,06035,12,1,0,03,15,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261222,01,06035,12,1,0,04,13,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261223,01,06035,13,1,0,01,32,,,,,,,NaN,,4103,1110,048,6,80
261224,01,06035,13,1,0,02,32,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261225,01,06035,13,1,0,03,13,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261226,01,06035,13,1,0,04,12,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261227,01,06035,14,1,0,01,59,,,,,,,NaN,,4100,1110,021,7,80
261228,01,06035,14,1,0,02,55,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261229,01,06035,14,1,0,03,17,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261230,01,06035,15,1,0,01,69,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261231,01,06035,16,1,0,01,46,,,,,,,NaN,,4100,1110,030,6,80
261232,01,06035,16,1,0,02,38,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261233,01,06035,16,1,0,03,21,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261234,01,06035,16,1,0,04,27,,,,,,,NaN,,5410,2123,046,6,80
261235,01,06035,16,1,0,05,19,,,,,,,NaN,,5460,2361,055,6,80
261236,01,06035,16,1,0,06,16,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261237,01,06035,16,1,0,07,14,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261238,01,06035,17,1,0,01,36,,,,,,,NaN,,4100,1110,024,6,80
261239,01,06035,17,1,0,02,33,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261240,01,06035,17,1,0,03,15,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261241,01,06035,17,1,0,04,13,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261242,01,06035,18,1,0,01,54,,,,,,,NaN,,4100,1110,024,6,80
261243,01,06035,18,1,0,02,46,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261244,01,06035,18,1,0,03,15,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261245,01,06035,18,1,0,04,13,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261246,01,06035,18,1,0,05,75,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261247,01,06035,19,1,0,01,31,,,,,,,NaN,,8124,5613,056,7,80
261248,01,06035,19,1,0,02,27,2,,,,4,,NaN,,NaN,NaN,NaN,,80
261249,01,06035,20,1,0,01,21,,,,,,,NaN,,4103,1110,045,6,80
261250,01,06035,20,1,0,02,22,2,,,,4,,NaN,,NaN,NaN,NaN,,80

In [12]:
# dt_22007.head(20)

In [13]:
# dt_22007_2.head(20)

In [14]:
# "con", "v_sel", "n_hog", "h_mud", "n_ren",

In [15]:
dt_22007["code"] = dt_22007["ent"] + dt_22007["con"] + dt_22007["v_sel"] + dt_22007["n_hog"] + dt_22007["h_mud"] + dt_22007["n_ren"]
dt_22007_2["code"] = dt_22007_2["ent"] + dt_22007_2["con"] + dt_22007_2["v_sel"] + dt_22007_2["n_hog"] + dt_22007_2["h_mud"] + dt_22007_2["n_ren"]

In [16]:
# dt_22007_2["code"] = dt_22007_2["ent"] + dt_22007_2["con"] + dt_22007_2["upm"] + dt_22007_2["v_sel"] + dt_22007_2["n_pro_viv"]

In [17]:
dt_22007.rename(index=str, columns={
                    "p5c_thrs": "p5b_thrs",
                    "p5c_tdia": "p5b_tdia"}, inplace=True)

In [18]:
df = pd.DataFrame()

In [19]:
df = pd.merge(dt_22007,
              dt_22007_2[["code", "p6b1", "p6b2", "p6c", "p6d", "p7", "p7a", "p7c"]],
              on="code",
              how="left")

In [20]:
df

,ent,con,v_sel,n_hog,h_mud,n_ren,eda,p1b,p2_1,p2_2,p2_3,p2_4,p2_9,p2a_anio,p2b,p3,p4a,p5b_thrs,p5b_tdia,fac,code,p6b1,p6b2,p6c,p6d,p7,p7a,p7c
0,09,40001,01,1,0,01,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1412,7221,065,6,475,0940001011001,7,NaN,9,6,7,NaN,NaN
1,09,40001,01,1,0,02,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1211,4330,024,3,475,0940001011002,8,NaN,8,1,7,NaN,NaN
2,09,40001,01,1,0,03,16,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001011003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09,40001,01,1,0,04,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001011004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09,40001,01,1,0,05,76,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001011005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,09,40001,02,1,0,01,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3115,9313,024,4,475,0940001021001,8,NaN,8,3,7,NaN,NaN
6,09,40001,02,1,0,02,18,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001021002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,09,40001,02,1,0,03,16,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001021003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,09,40001,02,1,0,04,13,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001021004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,09,40001,03,1,0,01,70,2,NaN,2,NaN,NaN,NaN,2018,1,NaN,NaN,NaN,NaN,475,0940001031001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,09,40001,03,1,0,02,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2162,3230,032,4,475,0940001031002,2,020000,NaN,1,7,NaN,NaN
11,09,40001,04,1,0,01,68,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3115,9312,NaN,NaN,475,0940001041001,2,007000,NaN,3,7,NaN,NaN
12,09,40001,04,1,0,02,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1211,4310,050,5,475,0940001041002,7,NaN,9,1,7,NaN,NaN
13,09,40001,05,1,0,01,63,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001051001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,09,40001,05,1,0,02,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9723,5110,060,6,475,0940001051002,7,NaN,2,6,7,NaN,NaN
15,09,40001,05,1,0,03,41,2,NaN,2,NaN,NaN,NaN,2018,1,NaN,NaN,NaN,NaN,475,0940001051003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,09,40001,05,1,0,04,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001051004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,09,40002,01,1,0,01,79,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002011001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,09,40002,01,1,0,02,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3115,5310,040,4,1272,0940002011002,8,NaN,6,1,7,NaN,NaN
19,09,40002,01,1,0,03,15,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002011003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,09,40002,03,1,0,01,34,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1411,3250,NaN,NaN,1272,0940002031001,1,035000,NaN,1,7,NaN,NaN
21,09,40002,04,1,0,01,64,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002041001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,09,40002,04,1,0,02,63,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002041002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,09,40002,05,1,0,01,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7121,2361,040,4,1272,0940002051001,3,006020,NaN,6,7,NaN,NaN
24,09,40002,05,1,0,02,31,1,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002051002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,09,40002,05,1,0,03,14,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002051003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,09,40003,01,1,0,01,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2426,6222,072,6,739,0940003011001,8,NaN,8,9,7,NaN,NaN
27,09,40003,01,1,0,02,44,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,739,0940003011002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,09,40003,01,1,0,03,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2811,6222,072,6,739,0940003011003,8,NaN,8,9,7,NaN,NaN
29,09,40003,01,1,0,04,23,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,739,0940003011004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321372,32,60039,10,1,0,01,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6131,1110,042,7,251,3260039101001,7,NaN,9,6,7,NaN,NaN
321373,32,60039,10,1,0,02,42,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039101002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321374,32,60039,10,1,0,03,20,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039101003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321375,32,60039,10,1,0,04,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9113,1110,042,7,251,3260039101004,NaN,NaN,NaN,6,7,NaN,NaN
321376,32,60039,11,1,0,01,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7121,2361,040,5,251,3260039111001,3,006450,NaN,6,7,NaN,NaN
321377,32,60039,12,1,0,01,26,1,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039121001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321378,32,60039,12,1,0,02,27,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039121002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321379,32,60039,13,1,0,01,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9111,1110,060,6,251,3260039131001,3,006450,NaN,6,7,NaN,NaN
321380,32,60039,13,1,0,02,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5112,7221,048,6,251,3260039131002,4,005160,NaN,6,7,NaN,NaN
321381,32,60039,13,1,0,03,17,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039131003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321382,32,60039,13,1,0,04,15,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039131004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321383,32,60039,13,1,0,05,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039131005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321384,32,60039,14,1,0,01,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6111,1110,042,7,251,3260039141001,3,004300,NaN,6,7,NaN,NaN
321385,32,60039,14,1,0,02,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8212,3360,042,5,251,3260039141002,3,004515,NaN,1,7,NaN,NaN
321386,32,60039,14,1,0,03,15,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039141003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321387,32,60039,15,1,0,01,76,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039151001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321388,32,60039,15,1,0,02,74,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039151002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321389,32,60039,16,1,0,01,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6311,1110,057,6,251,3260039161001,3,006020,NaN,6,7,NaN,NaN
321390,32,60039,16,1,0,02,28,1,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039161002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321391,32,60039,17,1,0,01,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8212,3360,042,5,251,3260039171001,3,004515,NaN,1,7,NaN,NaN
321392,32,60039,17,1,0,02,26,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039171002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321393,32,60039,18,1,0,01,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8133,3360,045,5,251,3260039181001,3,005590,NaN,1,7,NaN,NaN
321394,32,60039,18,1,0,03,68,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039181003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321395,32,60039,18,1,0,04,62,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039181004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321396,32,60039,18,1,0,05,30,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039181005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321397,32,60039,18,1,0,06,15,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4211,4651,NaN,NaN,251,3260039181006,4,009675,NaN,6,7,NaN,NaN
321398,32,60039,19,1,0,01,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9111,1110,036,6,251,3260039191001,3,003354,NaN,6,7,NaN,NaN
321399,32,60039,19,1,0,02,27,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039191002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321400,32,60039,20,1,0,01,68,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039201001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321401,32,60039,20,1,0,02,65,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9512,4632,NaN,NaN,251,3260039201002,3,005375,NaN,6,7,NaN,NaN

In [21]:
df["fac"] = df["fac"].astype(int)

In [22]:
df["fac"].sum()

100916043

In [23]:
excel_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSg-NM8Jt_vHnuIcJ3fjHMxcae_IkK7sresHvhUs_G7NSM5CN5NGYiCf-BP_GMPw3jwmm791CXPLpqJ/pub?output=xlsx"
df_labels = pd.ExcelFile(excel_url)

In [24]:
part1 = pd.read_excel(df_labels, "part1")

In [25]:
part2 = pd.read_excel(df_labels, "part2")

In [26]:
df.rename(columns = dict(zip(part1.column, part1.new_column)), inplace=True)

In [27]:
df.rename(columns = dict(zip(part2.column, part2.new_column)), inplace=True)

In [28]:
df

,ent_id,con,v_sel,n_hog,h_mud,numero_renglon,age,has_job_or_business,search_job_overseas,search_job_mexico,search_start_business,search_no_search,search_no_knowledge,search_job_year,time_looking_job,actual_job_position,actual_job_industry_group_id,actual_job_hrs_worked_lastweek,actual_job_days_worked_lastweek,population,code,actual_frecuency_payments,actual_amount_pesos,actual_minimal_wages_proportion,actual_healthcare_attention,second_activity,second_activity_task,second_activity_group_id
0,09,40001,01,1,0,01,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1412,7221,065,6,475,0940001011001,7,NaN,9,6,7,NaN,NaN
1,09,40001,01,1,0,02,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1211,4330,024,3,475,0940001011002,8,NaN,8,1,7,NaN,NaN
2,09,40001,01,1,0,03,16,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001011003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09,40001,01,1,0,04,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001011004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09,40001,01,1,0,05,76,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001011005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,09,40001,02,1,0,01,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3115,9313,024,4,475,0940001021001,8,NaN,8,3,7,NaN,NaN
6,09,40001,02,1,0,02,18,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001021002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,09,40001,02,1,0,03,16,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001021003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,09,40001,02,1,0,04,13,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001021004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,09,40001,03,1,0,01,70,2,NaN,2,NaN,NaN,NaN,2018,1,NaN,NaN,NaN,NaN,475,0940001031001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,09,40001,03,1,0,02,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2162,3230,032,4,475,0940001031002,2,020000,NaN,1,7,NaN,NaN
11,09,40001,04,1,0,01,68,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3115,9312,NaN,NaN,475,0940001041001,2,007000,NaN,3,7,NaN,NaN
12,09,40001,04,1,0,02,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1211,4310,050,5,475,0940001041002,7,NaN,9,1,7,NaN,NaN
13,09,40001,05,1,0,01,63,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001051001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,09,40001,05,1,0,02,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9723,5110,060,6,475,0940001051002,7,NaN,2,6,7,NaN,NaN
15,09,40001,05,1,0,03,41,2,NaN,2,NaN,NaN,NaN,2018,1,NaN,NaN,NaN,NaN,475,0940001051003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,09,40001,05,1,0,04,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,0940001051004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,09,40002,01,1,0,01,79,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002011001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,09,40002,01,1,0,02,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3115,5310,040,4,1272,0940002011002,8,NaN,6,1,7,NaN,NaN
19,09,40002,01,1,0,03,15,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002011003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,09,40002,03,1,0,01,34,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1411,3250,NaN,NaN,1272,0940002031001,1,035000,NaN,1,7,NaN,NaN
21,09,40002,04,1,0,01,64,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002041001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,09,40002,04,1,0,02,63,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002041002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,09,40002,05,1,0,01,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7121,2361,040,4,1272,0940002051001,3,006020,NaN,6,7,NaN,NaN
24,09,40002,05,1,0,02,31,1,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002051002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,09,40002,05,1,0,03,14,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,0940002051003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,09,40003,01,1,0,01,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2426,6222,072,6,739,0940003011001,8,NaN,8,9,7,NaN,NaN
27,09,40003,01,1,0,02,44,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,739,0940003011002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,09,40003,01,1,0,03,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2811,6222,072,6,739,0940003011003,8,NaN,8,9,7,NaN,NaN
29,09,40003,01,1,0,04,23,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,739,0940003011004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321372,32,60039,10,1,0,01,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6131,1110,042,7,251,3260039101001,7,NaN,9,6,7,NaN,NaN
321373,32,60039,10,1,0,02,42,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039101002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321374,32,60039,10,1,0,03,20,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039101003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321375,32,60039,10,1,0,04,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9113,1110,042,7,251,3260039101004,NaN,NaN,NaN,6,7,NaN,NaN
321376,32,60039,11,1,0,01,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7121,2361,040,5,251,3260039111001,3,006450,NaN,6,7,NaN,NaN
321377,32,60039,12,1,0,01,26,1,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039121001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321378,32,60039,12,1,0,02,27,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039121002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321379,32,60039,13,1,0,01,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9111,1110,060,6,251,3260039131001,3,006450,NaN,6,7,NaN,NaN
321380,32,60039,13,1,0,02,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5112,7221,048,6,251,3260039131002,4,005160,NaN,6,7,NaN,NaN
321381,32,60039,13,1,0,03,17,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039131003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321382,32,60039,13,1,0,04,15,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039131004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321383,32,60039,13,1,0,05,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039131005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321384,32,60039,14,1,0,01,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6111,1110,042,7,251,3260039141001,3,004300,NaN,6,7,NaN,NaN
321385,32,60039,14,1,0,02,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8212,3360,042,5,251,3260039141002,3,004515,NaN,1,7,NaN,NaN
321386,32,60039,14,1,0,03,15,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039141003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321387,32,60039,15,1,0,01,76,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039151001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321388,32,60039,15,1,0,02,74,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039151002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321389,32,60039,16,1,0,01,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6311,1110,057,6,251,3260039161001,3,006020,NaN,6,7,NaN,NaN
321390,32,60039,16,1,0,02,28,1,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039161002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321391,32,60039,17,1,0,01,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8212,3360,042,5,251,3260039171001,3,004515,NaN,1,7,NaN,NaN
321392,32,60039,17,1,0,02,26,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039171002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321393,32,60039,18,1,0,01,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8133,3360,045,5,251,3260039181001,3,005590,NaN,1,7,NaN,NaN
321394,32,60039,18,1,0,03,68,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039181003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321395,32,60039,18,1,0,04,62,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039181004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321396,32,60039,18,1,0,05,30,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039181005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321397,32,60039,18,1,0,06,15,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4211,4651,NaN,NaN,251,3260039181006,4,009675,NaN,6,7,NaN,NaN
321398,32,60039,19,1,0,01,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9111,1110,036,6,251,3260039191001,3,003354,NaN,6,7,NaN,NaN
321399,32,60039,19,1,0,02,27,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039191002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321400,32,60039,20,1,0,01,68,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251,3260039201001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321401,32,60039,20,1,0,02,65,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9512,4632,NaN,NaN,251,3260039201002,3,005375,NaN,6,7,NaN,NaN

In [29]:
vivienda = pd.read_csv(url_3, index_col=None, header=0, encoding="latin-1", dtype=str, 
                       usecols= lambda x: x.lower() in ["ent", "con", "v_sel", "mun", "loc"])

In [30]:
vivienda.columns = vivienda.columns.str.lower()

In [31]:
vivienda

         loc  mun ent    con v_sel
0       0001  001  01  40001    01
1       0001  001  01  40001    02
2       0001  001  01  40001    03
3       0001  001  01  40001    04
4       0001  001  01  40001    05
5       0001  001  01  40002    01
6       0001  001  01  40002    02
7       0001  001  01  40002    03
8       0001  001  01  40002    04
9       0001  001  01  40002    05
10      0001  001  01  40003    01
11      0001  001  01  40003    02
12      0001  001  01  40003    03
13      0001  001  01  40003    04
14      0001  001  01  40003    05
15      0001  001  01  40004    01
16      0001  001  01  40004    02
17      0001  001  01  40004    03
18      0001  001  01  40004    04
19      0001  001  01  40004    05
20      0001  001  01  40005    01
21      0001  001  01  40005    02
22      0001  001  01  40005    03
23      0001  001  01  40005    04
24      0001  001  01  40005    05
25      0001  005  01  40006    01
26      0001  005  01  40006    02
27      0001  005  01  40006    03
28      0001  005  01  40006    04
29      0001  005  01  40006    05
...      ...  ...  ..    ...   ...
126833  0024  047  32  60038    13
126834  0024  047  32  60038    14
126835  0024  047  32  60038    15
126836  0024  047  32  60038    16
126837  0024  047  32  60038    17
126838  0090  047  32  60038    18
126839  0020  047  32  60038    19
126840  0090  047  32  60038    20
126841  0090  047  32  60038    21
126842  0020  047  32  60038    22
126843  0414  010  32  60039    01
126844  0414  010  32  60039    02
126845  0414  010  32  60039    03
126846  0414  010  32  60039    04
126847  0414  010  32  60039    05
126848  0414  010  32  60039    06
126849  0414  010  32  60039    07
126850  0414  010  32  60039    08
126851  0414  010  32  60039    09
126852  0414  010  32  60039    10
126853  0414  010  32  60039    11
126854  0414  010  32  60039    12
126855  0414  010  32  60039    13
126856  0414  010  32  60039    14
126857  0414  010  32  60039    15
126858  0414  010  32  60039    16
126859  0414  010  32  60039    17
126860  0414  010  32  60039    18
126861  0414  010  32  60039    19
126862  0414  010  32  60039    20

[126863 rows x 5 columns]

In [32]:
df["code"] = df["ent_id"] + df["con"] + df["v_sel"]

In [33]:
vivienda["code"] = vivienda["ent"] + vivienda["con"] + vivienda["v_sel"]

In [34]:
Lista = ["code", "loc", "mun"]

In [35]:
vivienda = vivienda[Lista]

In [36]:
vivienda["code"].count()

126863

In [37]:
df = df.merge(vivienda, on="code", how="left")

In [38]:
df.head()

,ent_id,con,v_sel,n_hog,h_mud,numero_renglon,age,has_job_or_business,search_job_overseas,search_job_mexico,search_start_business,search_no_search,search_no_knowledge,search_job_year,time_looking_job,actual_job_position,actual_job_industry_group_id,actual_job_hrs_worked_lastweek,actual_job_days_worked_lastweek,population,code,actual_frecuency_payments,actual_amount_pesos,actual_minimal_wages_proportion,actual_healthcare_attention,second_activity,second_activity_task,second_activity_group_id,loc,mun
0,09,40001,01,1,0,01,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1412,7221,065,6,475,094000101,7,NaN,9,6,7,NaN,NaN,0001,002
1,09,40001,01,1,0,02,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1211,4330,024,3,475,094000101,8,NaN,8,1,7,NaN,NaN,0001,002
2,09,40001,01,1,0,03,16,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,094000101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0001,002
3,09,40001,01,1,0,04,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,094000101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0001,002
4,09,40001,01,1,0,05,76,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,094000101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0001,002

In [39]:
df["population"].sum()

100916043

In [40]:
df["mun_id"] = df["ent_id"] + df["mun"]

In [41]:
df["loc_id"] = df["mun_id"] + df["loc"]

In [42]:
list_drop = ["ent_id", "con", "v_sel", "n_hog", "h_mud", "numero_renglon", "code" , "mun", "loc", "mun_id"]

In [43]:
df.drop(list_drop, axis=1, inplace=True)

In [44]:
df.head()

,age,has_job_or_business,search_job_overseas,search_job_mexico,search_start_business,search_no_search,search_no_knowledge,search_job_year,time_looking_job,actual_job_position,actual_job_industry_group_id,actual_job_hrs_worked_lastweek,actual_job_days_worked_lastweek,population,actual_frecuency_payments,actual_amount_pesos,actual_minimal_wages_proportion,actual_healthcare_attention,second_activity,second_activity_task,second_activity_group_id,loc_id
0,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1412,7221,065,6,475,7,NaN,9,6,7,NaN,NaN,090020001
1,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1211,4330,024,3,475,8,NaN,8,1,7,NaN,NaN,090020001
2,16,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,090020001
3,12,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,090020001
4,76,2,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,090020001

In [45]:
# Replacing NaN an empty values in order to change content of the columns with IDs
df.replace(pd.np.nan, 99999, inplace=True)
df.replace(" ", 99999, inplace=True)

In [46]:
# Changing columns with IDs trought cycle
filling = ["has_job_or_business", "search_job_overseas", "search_job_mexico",
            "search_start_business", "search_no_search", "search_no_knowledge",
            "actual_frecuency_payments", "actual_minimal_wages_proportion", 
            "actual_healthcare_attention", "second_activity", "time_looking_job"]

In [47]:
# For cycle in order to change the content of a column from previous id, into the new ones (working for translate too)
for sheet in filling:
    df_l = pd.read_excel(df_labels, sheet)
    df[sheet] = df[sheet].astype(float)
    df[sheet] = df[sheet].replace(dict(zip(df_l.prev_id, df_l.id)))

In [48]:
df.replace(99999, pd.np.nan, inplace=True)
df["actual_job_days_worked_lastweek"].replace("9", pd.np.nan, inplace=True)

In [49]:
for col in ["has_job_or_business", "search_job_overseas", "search_job_mexico", "search_start_business",
            "search_no_search", "search_job_year", "time_looking_job", "actual_job_position", "actual_job_industry_group_id",
            "actual_job_hrs_worked_lastweek", "actual_job_days_worked_lastweek", 
            "actual_frecuency_payments", "actual_amount_pesos", "actual_minimal_wages_proportion", "actual_healthcare_attention",
           "second_activity", "second_activity_task", "second_activity_group_id"]:
    df[col] = df[col].astype("float")

In [50]:
df["population"].sum()

100916043

In [51]:
"""try:
    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                           usecols =[
        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
        "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
    print("El 1")
except:
    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                           usecols= lambda x: x.lower() in [
        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
        "p4a", "p5c_thrs", "p5c_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
    dt_22007.rename(index=str, columns={
                        "p5c_thrs": "p5b_thrs",
                        "p5c_tdia": "p5b_tdia"}, inplace=True)
    print("El 2")"""

'try:\n    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, \n                           usecols =[\n        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",\n        "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])\n    print("El 1")\nexcept:\n    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, \n                           usecols= lambda x: x.lower() in [\n        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",\n        "p4a", "p5c_thrs", "p5c_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])\n    dt_22007.rename(index=str, columns={\n                        "p5c_thrs": "p5b_thrs",\n                        "p5c_tdia": "p5b_tdia"}, inplace=True)\n    print("El 2")'

In [52]:
"""try:
    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                           usecols =[
        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
        "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
    print("El 1")
except:
    try:
        dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                               usecols=[
            "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
            "p4a", "p5c_thrs", "p5c_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
        dt_22007.rename(index=str, columns={
                            "p5c_thrs": "p5b_thrs",
                            "p5c_tdia": "p5b_tdia"}, inplace=True)
        print("El 2")
    except:
        dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                           usecols = lambda x: x.lower() in [
            "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
            "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
        print("El 3")"""

'try:\n    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, \n                           usecols =[\n        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",\n        "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])\n    print("El 1")\nexcept:\n    try:\n        dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, \n                               usecols=[\n            "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",\n            "p4a", "p5c_thrs", "p5c_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])\n        dt_22007.rename(index=str, columns={\n                            "p5c_thrs": "p5b_thrs",\n                            "p5c_tdia": "p5b_tdia"}, inplace=True)\n        print("El 2")\n    except:\n        dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, \n                           usecols = lambda x: x.lower() in [\n            "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",\n            "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])\n        print("El 3")'

In [53]:
try:
    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                           usecols =[
        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
        "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
    print("El 1")
except:
    try:
        dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                               usecols=[
            "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
            "p4a", "p5c_thrs", "p5c_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
        dt_22007.rename(index=str, columns={
                            "p5c_thrs": "p5b_thrs",
                            "p5c_tdia": "p5b_tdia"}, inplace=True)
        print("El 2")
    except:
        try:
            dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                               usecols = lambda x: x.upper() in [
                "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
                "p4a", "p5b_thrs", "p5b_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
            print("El 3")
        except:
            dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", dtype=str, 
                                   usecols = lambda x: x.lower() in [
                "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
                "p4a", "p5c_thrs", "p5c_tdia", "fac", "con", "upm", "n_pro_viv", "v_sel"])
            dt_22007.rename(index=str, columns={
                                "p5c_thrs": "p5b_thrs",
                                "p5c_tdia": "p5b_tdia"}, inplace=True)
            print("El 4")

El 3