In [1]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import requests
import zipfile, io
import glob
pd.set_option("display.max_columns", 500)

In [ ]:
# Downloads datasets from Encuesta Intercensal 2015
for i in range(1, 33):
    r = requests.get("https://www.inegi.org.mx/contenidos/programas/intercensal/2015/microdatos/eic2015_{}_csv.zip".format(str(i).zfill(2)))
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall("data_temp/")

## Housing

In [ ]:
# Reads Housing data
df_h = pd.concat([
    pd.read_csv(file, index_col=None, header=0, encoding="latin-1") 
    for file in glob.glob("data_temp/TR_VIVIENDA*.CSV")
], axis=0, ignore_index=True)
df_h.columns = df_h.columns.str.lower()

In [ ]:
df_h.head()

## Population

In [2]:
# Reads Population data
df_p = pd.concat([
    pd.read_csv(file, index_col=None, header=0, encoding="latin-1") 
    for file in glob.glob("data_temp/TR_PERSONA*.CSV")
], axis=0, ignore_index=True)
df_p.columns = df_p.columns.str.lower()

In [3]:
df_p.head()

,id_viv,id_persona,ent,nom_ent,mun,nom_mun,loc50k,nom_loc,cobertura,estrato,upm,factor,numper,sexo,edad,parent,parent_otro_c,ident_madre,ident_padre,sersalud,afrodes,acta_nac,dhsersal1,dhsersal2,perte_indigena,ent_pais_nac,nacionalidad,hlengua,qdialect_c,qdialect_inali,hespanol,elengua,asisten,mun_asi,nom_mun_asi,ent_pais_asi,tie_traslado_escu,med_traslado_esc1,med_traslado_esc2,med_traslado_esc3,escolari,nivacad,alfabet,escoacum,mun_res10,nom_mun_res10,ent_pais_res10,situa_conyugal,ident_pareja,conact,ocupacion_c,situacion_trab,aguinaldo,vacaciones,servicio_medico,utilidades,incap_sueldo,sar_afore,credito_vivienda,ingtrmen,actividades_c,mun_trab,nom_mun_trab,ent_pais_trab,tie_traslado_trab,med_traslado_trab1,med_traslado_trab2,med_traslado_trab3,acti_sin_pago1,acti_sin_pago2,acti_sin_pago3,acti_sin_pago4,acti_sin_pago5,acti_sin_pago6,acti_sin_pago7,acti_sin_pago8,hijos_nac_vivos,hijos_fallecidos,hijos_sobreviv,fecha_nac_m,fecha_nac_a,sobrevivencia,edad_morir_d,edad_morir_m,edad_morir_a,tamloc
0,280010000001,28001000000101,28,Tamaulipas,1,Abasolo,0,Localidad de menos de 50 mil habitantes,2,28-001-08,236185,2,1,3,64,1,101,97,97,5,3,1,1,NaN,3,28,5,3.0,NaN,NaN,NaN,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,5.0,4.0,1.0,Abasolo,28.0,2.0,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,5.0,1.0,4.0,3.0,1983.0,1.0,NaN,NaN,NaN,2
1,280010000002,28001000000202,28,Tamaulipas,1,Abasolo,0,Localidad de menos de 50 mil habitantes,2,28-001-08,236194,2,2,3,48,2,201,96,97,5,3,1,1,NaN,3,14,5,3.0,NaN,NaN,NaN,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,9.0,0.0,1.0,Abasolo,28.0,5.0,1.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,60.0,0.0,0.0,30.0,16.0,0.0,5.0,0.0,5.0,10.0,2008.0,1.0,NaN,NaN,NaN,2
2,280010000002,28001000000204,28,Tamaulipas,1,Abasolo,0,Localidad de menos de 50 mil habitantes,2,28-001-08,236194,2,4,1,6,3,301,2,1,5,3,1,1,NaN,3,28,5,3.0,NaN,NaN,NaN,3.0,5.0,1.0,Abasolo,28.0,2.0,6.0,NaN,NaN,99.0,2.0,5.0,99.0,1.0,Abasolo,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,280010000002,28001000000201,28,Tamaulipas,1,Abasolo,0,Localidad de menos de 50 mil habitantes,2,28-001-08,236194,2,1,1,61,1,101,96,97,5,3,1,1,NaN,3,28,5,3.0,NaN,NaN,NaN,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,5.0,6.0,1.0,Abasolo,28.0,5.0,2.0,10.0,611.0,2.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,4286.0,1110.0,1.0,Abasolo,28.0,3.0,7.0,NaN,NaN,0.0,0.0,30.0,0.0,0.0,0.0,10.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,280010000002,28001000000203,28,Tamaulipas,1,Abasolo,0,Localidad de menos de 50 mil habitantes,2,28-001-08,236194,2,3,1,18,3,301,2,1,5,3,1,1,NaN,3,28,5,3.0,NaN,NaN,NaN,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,5.0,10.0,1.0,Abasolo,28.0,6.0,NaN,10.0,612.0,2.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,2143.0,1121.0,1.0,Abasolo,28.0,2.0,4.0,NaN,NaN,0.0,0.0,20.0,0.0,0.0,10.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [4]:
list(df_p)

['id_viv',
 'id_persona',
 'ent',
 'nom_ent',
 'mun',
 'nom_mun',
 'loc50k',
 'nom_loc',
 'cobertura',
 'estrato',
 'upm',
 'factor',
 'numper',
 'sexo',
 'edad',
 'parent',
 'parent_otro_c',
 'ident_madre',
 'ident_padre',
 'sersalud',
 'afrodes',
 'acta_nac',
 'dhsersal1',
 'dhsersal2',
 'perte_indigena',
 'ent_pais_nac',
 'nacionalidad',
 'hlengua',
 'qdialect_c',
 'qdialect_inali',
 'hespanol',
 'elengua',
 'asisten',
 'mun_asi',
 'nom_mun_asi',
 'ent_pais_asi',
 'tie_traslado_escu',
 'med_traslado_esc1',
 'med_traslado_esc2',
 'med_traslado_esc3',
 'escolari',
 'nivacad',
 'alfabet',
 'escoacum',
 'mun_res10',
 'nom_mun_res10',
 'ent_pais_res10',
 'situa_conyugal',
 'ident_pareja',
 'conact',
 'ocupacion_c',
 'situacion_trab',
 'aguinaldo',
 'vacaciones',
 'servicio_medico',
 'utilidades',
 'incap_sueldo',
 'sar_afore',
 'credito_vivienda',
 'ingtrmen',
 'actividades_c',
 'mun_trab',
 'nom_mun_trab',
 'ent_pais_trab',
 'tie_traslado_trab',
 'med_traslado_trab1',
 'med_traslado_trab2',
 'med_traslado_trab3',
 'acti_sin_pago1',
 'acti_sin_pago2',
 'acti_sin_pago3',
 'acti_sin_pago4',
 'acti_sin_pago5',
 'acti_sin_pago6',
 'acti_sin_pago7',
 'acti_sin_pago8',
 'hijos_nac_vivos',
 'hijos_fallecidos',
 'hijos_sobreviv',
 'fecha_nac_m',
 'fecha_nac_a',
 'sobrevivencia',
 'edad_morir_d',
 'edad_morir_m',
 'edad_morir_a',
 'tamloc']

In [5]:
df_labels = pd.ExcelFile("https://docs.google.com/spreadsheets/d/e/2PACX-1vR08Js9Sh4nNTMe5uBcsDUFedG5MOjIf90p6EHAr1_sWY5kpnI3xUvyPHzQpTEUrXz1pskaoc0uyea6/pub?output=xlsx")

In [6]:
df_labels.sheet_names

['sexo', 'sersalud']

In [11]:
# Get a copy of the dataframe
primary_cols = ["ent", "mun", "factor"] + df_labels.sheet_names

In [23]:
df1 = df_p[primary_cols]
df1["mun_id"] = df1["ent"].astype(str) + df1["mun"].astype(str).str.zfill(3)
df1["mun_id"] = df1["mun_id"].astype(int)
df1 = df1.drop(columns=["ent", "mun"])

/Users/cnavarreteliz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/cnavarreteliz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
for label in df_labels.sheet_names:
    d = pd.read_excel(df_labels, label)
    df1[label] = df1[label].replace(dict(zip(d.prev_id, d.id)))

In [33]:
grouped = list(df1)
grouped.remove("factor")
df1 = df1.groupby(grouped).sum().reset_index()

In [37]:
df1.head()

   sexo  sersalud  mun_id  factor
0     1         0    1001     736
1     1         0    1002      35
2     1         0    1003      33
3     1         0    1004      11
4     1         0    1005     118

In [38]:
df1.to_csv("fact_inegi_intercensal_census.csv", index=False)