In [15]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import requests
import zipfile, io
import glob

In [13]:
# Downloads datasets from Encuesta Intercensal 2015
for i in range(1, 33):
    r = requests.get("https://www.inegi.org.mx/contenidos/programas/intercensal/2015/microdatos/eic2015_{}_csv.zip".format(str(i).zfill(2)))
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall("data_temp/")

In [32]:
# glob.glob("data_temp/TR_PERSONA*.CSV")

In [39]:
# Reads Housing data
df_h = pd.concat([
    pd.read_csv(file, index_col=None, header=0, encoding="latin-1") 
    for file in glob.glob("data_temp/TR_VIVIENDA*.CSV")
], axis=0, ignore_index=True)

In [45]:
# Reads Population data
df_p = pd.concat([
    pd.read_csv(file, index_col=None, header=0, encoding="latin-1") 
    for file in glob.glob("data_temp/TR_PERSONA*.CSV")
], axis=0, ignore_index=True)

In [40]:
df.head()

,ID_VIV,ENT,NOM_ENT,MUN,NOM_MUN,LOC50K,NOM_LOC,COBERTURA,ESTRATO,UPM,...,ALIM_MEN2,ALIM_MEN3,ING_ALIM_MEN1,ING_ALIM_MEN2,ING_ALIM_MEN3,TAMLOC,TIPOHOG,JEFE_SEXO,JEFE_EDAD,INGTRHOG
0,180010000001,18,Nayarit,1,Acaponeta,0,Localidad de menos de 50 mil habitantes,2,18-001-09,143595,...,4.0,5.0,2.0,3.0,6.0,1,1,1,46,2571.0
1,180010000002,18,Nayarit,1,Acaponeta,0,Localidad de menos de 50 mil habitantes,2,18-001-03,143450,...,4.0,6.0,2.0,4.0,6.0,3,1,1,33,15857.0
2,180010000003,18,Nayarit,1,Acaponeta,0,Localidad de menos de 50 mil habitantes,2,18-001-03,143461,...,4.0,6.0,2.0,4.0,6.0,3,2,3,64,2086.0
3,180010000004,18,Nayarit,1,Acaponeta,0,Localidad de menos de 50 mil habitantes,2,18-001-06,143571,...,3.0,5.0,1.0,3.0,5.0,1,1,1,32,2571.0
4,180010000005,18,Nayarit,1,Acaponeta,0,Localidad de menos de 50 mil habitantes,2,18-001-09,143595,...,NaN,NaN,NaN,NaN,NaN,1,1,3,56,3642.0

In [43]:
len(df["NOM_MUN"].unique())

2317